<?xml version="1.0"?>
<model>
  <name>f450 based custom</name>
  <version>1.0</version>
  <sdf version='1.5'>custom_f450.sdf</sdf>

  <author>
   <name>beomsu ha</name>
   <email>...</email>
  </author>

  <description>
    This is a model of the custom drone with dji f450 frame
  </description>
</model>
